:root {
--offwhite: rgb(245, 248, 255);
--yellow: rgb(254, 227, 67);
--red: rgb(161, 24, 14);
--blue:rgb(0, 75, 226);
--darkblue: rgb(0, 17, 55);
--bluegrey:#8FB6D0;
}

*{
    font-family: Verdana;
}

body {
    background-color: var(--bluegrey);
}

.header {
  color: var(--offwhite); 
  background-color: var(--darkblue); 
  margin: -10px;
  display: flex;
}

.header h1 {
    font-size:50px ;
    margin-top: 30px;
    margin-left: -10px;
    border-style: solid;
    border-left-style: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 3px;
    border-color: var(--yellow);
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    background-color:var(--blue);
    display: inline-block;
}

.header nav {
    float: right;
}

.header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-right: 10px;
}
.header nav ul li {
    font-size: 25px;
    padding: 10px;
    background-color: var(--red);
    border-color: var(--yellow);
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    margin: 5px;
}

h2 {
    font-size: 40px;
}

.main-image{
    width:25%;
    border-radius: 10px;

}

.bio {
    font-size: 30px;
    margin-left: 50px;
    margin-top: 70px;
    padding: 40px;
    background-color: var(--darkblue);
    color: var(--offwhite);
    border-color: var(--yellow);
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    color: var(--offwhite);
    background-color: var(--blue);
    margin-left: -30px;
    margin-top:50px;
    padding-left: 50px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: var(--yellow);
    width:65%;
}

.img-list {
    background-color: var(--darkblue);
    padding:20px;
    margin-top: 50px;
    margin-left: 50px;
    border-color: var(--yellow);
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

.google {
    width:100%;
}

.grid-image {

}

footer section ul{
    list-style: none;
}

.email {
    font-size: 30px;
    margin-left: 50px;
    margin-top: 70px;
    padding: 40px;
    background-color: var(--red);
    color: var(--offwhite);
    border-color: var(--yellow);
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    header, .grid-container {
        flex-direction: column;
    }
    h2{
        font-size: 20px;
    }
}

@media screen and (max-width: 888px) {
    .contact-me h2{
        font-size:15px
    }
}

@media screen and (max-width: 479px) {
    header, .grid-container {
        flex-direction: column;
    }
    h2{
        font-size: 13px;
    }
    .contact-me h2 {
        font-size: 10px;
    }
}